Author: Irsyad Adam

- Neo4j Python Driver Manual: https://neo4j.com/docs/api/python-driver/current/
- API Documentation: https://neo4j.com/docs/api/python-driver/current/api.html

In [2]:
import pandas as pd
import numpy as np

from tqdm import tqdm
from neo4j import GraphDatabase

#### Connecting to the DBMS

If there is any authentification error after you run any queries, then your username and password are wrong

In [7]:
# Seen from :server status
uri = "bolt://localhost:7687"

# default user for graph database is neo4j
# auth = ("neo4j", "password")
auth = ("neo4j","quickstart")

driver = GraphDatabase.driver(uri = uri, auth = auth)
driver.verify_connectivity()

C:\Users\irsya\AppData\Local\Temp/ipykernel_15776/1292716654.py:9: ExperimentalWarning: The configuration may change in the future.
  driver.verify_connectivity()

'Neo4j/4.4.4'

In [11]:
nodes = pd.read_csv("import_twitch_data/large_twitch_features.csv")
nodes

,views,mature,life_time,created_at,updated_at,numeric_id,dead_account,language,affiliate
0,7879,1,969,2016-02-16,2018-10-12,0,0,EN,1
1,500,0,2699,2011-05-19,2018-10-08,1,0,EN,0
2,382502,1,3149,2010-02-27,2018-10-12,2,0,EN,1
3,386,0,1344,2015-01-26,2018-10-01,3,0,EN,0
4,2486,0,1784,2013-11-22,2018-10-11,4,0,EN,0
...,...,...,...,...,...,...,...,...,...
168109,4965,0,810,2016-07-20,2018-10-08,168109,0,EN,0
168110,4128,1,2080,2013-01-31,2018-10-12,168110,0,EN,0
168111,3545,0,1797,2013-11-08,2018-10-10,168111,0,EN,1
168112,892736,1,2135,2012-12-07,2018-10-12,168112,0,EN,0
168113,791,0,2005,2013-01-22,2018-07-20,168113,0,EN,0